# Cleaning

In [2]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction import stop_words
from nltk.stem.porter import PorterStemmer

from bs4 import BeautifulSoup 

import datetime as dt

In [3]:
df_WI = pd.read_csv('../Data/df_WI.csv')

In [3]:
df_WI

,Unnamed: 0,Date,Favorites,Geolocation,HashTags,Mentions,Retweets,Text,User,target,user_split,user_text,location
0,0,2019-07-19 22:40:31+00:00,0,NaN,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,Gabriettaa,0,Gabriettaa,Gabriettaa Nice to have a positive story about...,WI
1,1,2019-07-19 22:26:34+00:00,0,NaN,NaN,NaN,0,my dad just told me to flood my car so I can g...,chaaasiti04,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...,WI
2,2,2019-07-19 22:19:05+00:00,1,NaN,NaN,NaN,2,"Happy B-day Reggie, from the office!!!",JDenius,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!",WI
3,3,2019-07-19 22:17:13+00:00,0,NaN,NaN,NaN,0,Something about how crime will magically drop ...,beganovic2021,1,beganovic2021,beganovic2021 Something about how crime will m...,WI
4,4,2019-07-19 20:57:18+00:00,0,NaN,NaN,NaN,0,Lol mine too. I’ve been avoiding floods for th...,RiskItAllRichy,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,698,2019-12-21 00:15:59+00:00,0,NaN,#StarWarsRiseofSkywalker #StarWars9,NaN,6,What’s the o/u for how many times I’ll flood t...,NotTheFakeWags,0,NotTheFakeWags,NotTheFakeWags What’s the o/u for how many tim...,WI
699,699,2019-12-20 23:52:23+00:00,1,NaN,#flood #NDMA,NaN,0,This is a sample message from a disaster victi...,david_hadaller,0,david hadaller,david hadaller This is a sample message from a...,WI
700,700,2019-12-20 23:29:12+00:00,0,NaN,NaN,NaN,0,Just arriving so warm ups complete and flood d...,lhhslionshockey,0,lhhslionshockey,lhhslionshockey Just arriving so warm ups comp...,WI
701,701,2019-12-20 23:06:57+00:00,0,NaN,NaN,NaN,1,Does it flood in Brandon? Wonder if this thing...,aggieloveseggs,0,aggieloveseggs,aggieloveseggs Does it flood in Brandon? Wonde...,WI
702,702,2019-12-20 23:01:21+00:00,0,NaN,NaN,NaN,30,Just turned in the Grand Cherokee Trailhawk. 3...,SpeedSportLife,0,SpeedSportLife,SpeedSportLife Just turned in the Grand Cherok...,WI

In [4]:
df_WI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 13 columns):
Unnamed: 0     703 non-null int64
Date           703 non-null object
Favorites      703 non-null int64
Geolocation    0 non-null float64
HashTags       114 non-null object
Mentions       87 non-null object
Retweets       703 non-null int64
Text           702 non-null object
User           703 non-null object
target         703 non-null int64
user_split     703 non-null object
user_text      703 non-null object
location       703 non-null object
dtypes: float64(1), int64(4), object(8)
memory usage: 71.5+ KB

In [4]:
df_TX = pd.read_csv('../Data/df_TX.csv')
df_TX.head()

,Unnamed: 0,User,Text,Date,Favorites,Retweets,Mentions,HashTags,Geolocation,user_split,user_text,target,location
0,0,LisaAbeyta,Flash flood warning until 7 PM #nmwx #nm @Albu...,2016-06-23 23:59:36+00:00,0,0,NaN,#nmwx #nm,NaN,LisaAbeyta,LisaAbeyta Flash flood warning until 7 PM #nmw...,1,TX
1,1,iembot_rlx,"At 7:51 PM, 2 NNE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:53:45+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:51 PM, 2 NNE Rush [Boyd Co, KY...",1,TX
2,2,iembot_rlx,"At 7:48 PM, 4 SSE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:50:46+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:48 PM, 4 SSE Rush [Boyd Co, KY...",1,TX
3,3,iembot_rlx,"At 7:44 PM, Rush [Boyd Co, KY] EMERGENCY MNGR ...",2016-06-23 23:48:01+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:44 PM, Rush [Boyd Co, KY] EMER...",1,TX
4,4,iembot_rlx,"At 6:03 PM, 3 SW Amma [Roane Co, WV] DEPT OF H...",2016-06-23 22:27:16+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 6:03 PM, 3 SW Amma [Roane Co, WV...",1,TX

In [26]:
df_concat = pd.concat([df_WI, df_TX], ignore_index = True)

/Users/andreayoss/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [27]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2703 entries, 0 to 2702
Data columns (total 13 columns):
Date           2703 non-null object
Favorites      2703 non-null int64
Geolocation    0 non-null float64
HashTags       1379 non-null object
Mentions       161 non-null object
Retweets       2703 non-null int64
Text           2702 non-null object
Unnamed: 0     2703 non-null int64
User           2703 non-null object
location       2703 non-null object
target         2703 non-null int64
user_split     2703 non-null object
user_text      2703 non-null object
dtypes: float64(1), int64(4), object(8)
memory usage: 274.6+ KB

In [28]:
# drop Unanamed: 0, geolocation, User, user_split, Text columns
df_concat.drop(columns = ['Unnamed: 0', 'Geolocation', 'User'], inplace = True)

In [29]:
df_concat

,Date,Favorites,HashTags,Mentions,Retweets,Text,location,target,user_split,user_text
0,2019-07-19 22:40:31+00:00,0,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,WI,0,Gabriettaa,Gabriettaa Nice to have a positive story about...
1,2019-07-19 22:26:34+00:00,0,NaN,NaN,0,my dad just told me to flood my car so I can g...,WI,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...
2,2019-07-19 22:19:05+00:00,1,NaN,NaN,2,"Happy B-day Reggie, from the office!!!",WI,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!"
3,2019-07-19 22:17:13+00:00,0,NaN,NaN,0,Something about how crime will magically drop ...,WI,1,beganovic2021,beganovic2021 Something about how crime will m...
4,2019-07-19 20:57:18+00:00,0,NaN,NaN,0,Lol mine too. I’ve been avoiding floods for th...,WI,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...
...,...,...,...,...,...,...,...,...,...,...
2698,2016-09-02 09:56:07+00:00,0,NaN,@SarahFortnerWx,0,Flash flood watch for Charlotte and eastward u...,TX,0,CharlotteCP,CharlotteCP Flash flood watch for Charlotte an...
2699,2016-09-02 05:19:09+00:00,56,NaN,NaN,18,Move to higher ground! Flash Flood Warning in...,TX,0,NWSTallahassee,NWSTallahassee Move to higher ground! Flash F...
2700,2016-09-02 04:47:49+00:00,0,NaN,NaN,0,Help arrives for Greenspoint flood victi http:...,TX,0,BLifeAldine,BLifeAldine Help arrives for Greenspoint flood...
2701,2016-09-02 02:49:25+00:00,0,NaN,NaN,3,W my fellow Capital Correspondents raising $fo...,TX,0,Futureteller,Futureteller W my fellow Capital Correspondent...
2702,2016-09-02 02:46:37+00:00,0,NaN,NaN,0,"Flood party @Charleston, South Carolina https:...",TX,0,ClayDix,"ClayDix Flood party @Charleston, South Carolin..."

In [30]:
# Change Date column to datetime
df_concat['Date'] = pd.to_datetime(df_concat['Date'])

In [31]:
df_concat['Date'].dtypes

datetime64[ns, UTC]

In [32]:
# Analyze Nulls
df_concat.isnull().sum().sort_values(ascending=False)

Mentions      2542
HashTags      1324
Text             1
user_text        0
user_split       0
target           0
location         0
Retweets         0
Favorites        0
Date             0
dtype: int64

In [33]:
df_concat['Mentions'].fillna('None', inplace = True)
df_concat['HashTags'].fillna('None', inplace = True)

In [34]:
df_concat.shape

(2703, 10)

In [35]:
df_concat['Text'].isnull().sum()

1

In [39]:
df_concat.drop(index = df_concat[df_concat['Text'].isnull()].index, inplace = True)

In [40]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2702 entries, 0 to 2702
Data columns (total 10 columns):
Date          2702 non-null datetime64[ns, UTC]
Favorites     2702 non-null int64
HashTags      2702 non-null object
Mentions      2702 non-null object
Retweets      2702 non-null int64
Text          2702 non-null object
location      2702 non-null object
target        2702 non-null int64
user_split    2702 non-null object
user_text     2702 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(6)
memory usage: 232.2+ KB

In [41]:
df_concat.to_csv('../Data/df_TX_WI_clean.csv')

In [42]:
pd.read_csv('../Data/df_TX_WI_clean.csv')

,Unnamed: 0,Date,Favorites,HashTags,Mentions,Retweets,Text,location,target,user_split,user_text
0,0,2019-07-19 22:40:31+00:00,0,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,WI,0,Gabriettaa,Gabriettaa Nice to have a positive story about...
1,1,2019-07-19 22:26:34+00:00,0,None,None,0,my dad just told me to flood my car so I can g...,WI,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...
2,2,2019-07-19 22:19:05+00:00,1,None,None,2,"Happy B-day Reggie, from the office!!!",WI,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!"
3,3,2019-07-19 22:17:13+00:00,0,None,None,0,Something about how crime will magically drop ...,WI,1,beganovic2021,beganovic2021 Something about how crime will m...
4,4,2019-07-19 20:57:18+00:00,0,None,None,0,Lol mine too. I’ve been avoiding floods for th...,WI,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...
...,...,...,...,...,...,...,...,...,...,...,...
2697,2698,2016-09-02 09:56:07+00:00,0,None,@SarahFortnerWx,0,Flash flood watch for Charlotte and eastward u...,TX,0,CharlotteCP,CharlotteCP Flash flood watch for Charlotte an...
2698,2699,2016-09-02 05:19:09+00:00,56,None,None,18,Move to higher ground! Flash Flood Warning in...,TX,0,NWSTallahassee,NWSTallahassee Move to higher ground! Flash F...
2699,2700,2016-09-02 04:47:49+00:00,0,None,None,0,Help arrives for Greenspoint flood victi http:...,TX,0,BLifeAldine,BLifeAldine Help arrives for Greenspoint flood...
2700,2701,2016-09-02 02:49:25+00:00,0,None,None,3,W my fellow Capital Correspondents raising $fo...,TX,0,Futureteller,Futureteller W my fellow Capital Correspondent...
2701,2702,2016-09-02 02:46:37+00:00,0,None,None,0,"Flood party @Charleston, South Carolina https:...",TX,0,ClayDix,"ClayDix Flood party @Charleston, South Carolin..."